<div class="grid-container">
  <div class="d-flex justify-content-between">
    <h1 class="font-style">Mis cursos</h1>
    <button mat-raised-button color="primary" class="add-button button-secondary" (click)="addCard()">
      <mat-icon>add</mat-icon>
      <span>Agregar curso</span>
    </button>
  </div>

      <div *ngIf="loading" class="load">
        <div>
          <mat-spinner></mat-spinner>
            <p class="text-spinner">Cargando cursos...</p>
        </div>
      </div>
      
      <mat-grid-list *ngIf="!loading" [cols]="numColumns" rowHeight="450px">
        <mat-grid-tile *ngFor="let card of cards" [colspan]="1" [rowspan]="1">
          <mat-card class="dashboard-card">
            <div class="card-img" [style.background-image]="'url(' + (card.background_image ? card.background_image : 'https://imgs.search.brave.com/rwQr60QoOHukZjZ3sp5p2vSqh-xyD6WA5v1hJmOD6PU/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9jZG4u/d2FsbHBhcGVyc2Fm/YXJpLmNvbS82Mi85/MC9vd2s4UUguanBn') + ')'">
            <!-- <div class="card-img"> -->
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item (click)="editCard(card)">Editar</button>
                <button mat-menu-item (click)="deleteCard(card)">Eliminar</button>
              </mat-menu>
              <div class="link">
                <a href="{{card.link}}" target="_blank">
                  <mat-icon style="color: white; margin: 0;">launch</mat-icon>
                </a>
                
              </div>
              <div class="date">
                <div><b>{{card.start_of_course | date: 'dd'}}</b></div>
                <div>{{card.start_of_course | date: 'MMM'}}</div>
              </div>
              <div class="discount">
                <div *ngIf="card.discount>0"><p class="text-discount">Hasta un -{{card.discount}}%</p></div>
                <div><p class="text-price">S/.{{card.price | number:'1.2-2'}}</p></div>
              </div>
            </div>
            <mat-card-content class="dashboard-card-content">
              <h3><p class="text-title">{{card.title}}</p></h3>
              <div><p class="text-description">{{(card.type_of_program.length > 0) ? card.type_of_program[0].name : 'Curso online' }}</p></div>
              <div class="info-content">
                <div class="info"><mat-icon>account_balance</mat-icon><p class="info-content-text">{{card.institution}}</p></div>
                <div class="info"><mat-icon>event_available</mat-icon> Inscripción: {{card.registration_date | date: 'dd MMM'}}</div>
                <div class="info"><mat-icon>event</mat-icon> Modalidad: {{(card.modality.length > 0) ? card.modality[0].name : 'No definido' }}</div>
                <div class="info"><mat-icon>schedule</mat-icon> Horario del turno: <p class="info-content-text-two"> {{ card.shifts_summary ? card.shifts_summary : 'no definido'}}</p></div>
                <div class="info"><mat-icon>av_timer</mat-icon> Duración: {{card.numer_of_months}} meses | {{card.shift ? card.shift : 'no definido'}}</div>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
      
</div>
<mat-paginator class="paginator" *ngIf="paginator" [length]="element.count"
              [pageSize]="8"
              [hidePageSize]="true"
              (page)="cambiarPagina($event)">
      </mat-paginator>