<mat-toolbar class="toolbar toolbar-container">
  <span>WeStudy University</span>
  <span class="example-spacer"></span>

  <div class="navbar">
    <div class="container-button">

      <button *ngIf="isSmallScreen" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <button *ngIf="!isLogged&&!isSmallScreen" mat-raised-button class="button-color" (click)="nextPage('/login')">Iniciar sesión</button>
      <button *ngIf="!isLogged&&!isSmallScreen" mat-raised-button class="button-color" (click)="nextPage('/register')">Regístrate</button>
      <button *ngIf="isLogged&&!isSmallScreen" mat-raised-button color="primary">
        <mat-icon>account_circle</mat-icon> Profile 
      </button>
      <button *ngIf="isLogged&&!isSmallScreen" mat-raised-button color="primary">
        <mat-icon>favorite</mat-icon> Favorites
      </button>
      <button *ngIf="isLogged&&!isSmallScreen" mat-raised-button color="primary" (click)="logout()">
        <mat-icon>logout</mat-icon> Logout
      </button>
      
    </div>
  </div>

</mat-toolbar>

<mat-menu #menu="matMenu" class="custom-menu">
  <button *ngIf="!isLogged" mat-menu-item class="button-color" (click)="nextPage('/login')">Iniciar sesión</button>
  <button *ngIf="!isLogged" mat-menu-item class="button-color" (click)="nextPage('/register')">Regístrate</button>
  <button *ngIf="isLogged" mat-menu-item color="primary">
    <mat-icon>account_circle</mat-icon> Profile
  </button>
  <button *ngIf="isLogged" mat-menu-item color="primary">
    <mat-icon>favorite</mat-icon> Favorites
  </button>
  <button *ngIf="isLogged" mat-menu-item color="primary" (click)="logout()">
    <mat-icon>logout</mat-icon> Logout
  </button>
</mat-menu>
<div class="router-class">
  <router-outlet></router-outlet>
</div>