/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,500&display=swap');
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html,
body {
  margin: 0;
  height: 100%;
}

.font-style{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.custom-padding {
    padding-left: 0 !important;
    padding-left: 0.6rem !important;
    padding-right: 0.6rem !important;
  }

.button-color-secondary{
    width: 100%;
    height: 2.9em;
    font-size: 1.2em;
    background-color: #577df7 !important;
    border-radius: 20px;
  }

  .button-color-secondary-small{
    width: 150px;
    height: 2.9em;
    font-size: 1.2em;
    background-color: #577df7 !important;
    border-radius: 20px;
    margin-bottom: 15px;
  }

  .button-secondary{
    font-size: 1.2em;
    background-color: #577df7 !important;
    border-radius: 20px;
  }

  .button-color-primary{
    width: 100%;
    height: 2.9em;
    font-size: 1.2em;
    background-color: #ffffff;
    color: #577df7;
    border-radius: 20px;
  }

  .content-flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .custom-snackbar {
    background-color: #577df7 !important;
    color: #ffffff !important;
  }

  .mat-mdc-snack-bar-container {
    --mat-mdc-snack-bar-button-color: #ffffff !important;
    --mdc-snackbar-container-color: #577df7 !important;
    --mdc-snackbar-supporting-text-color: #ffffff !important;
}

.mat-mdc-card {
    background-color: #494B5F !important;
    color: #ffffff !important;
}